body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/random/1920x1080/?office,technology');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: white;

}

.spacing {
    margin-bottom: 10px;
}
.navbar {
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.features-section {
    padding: 100px 0;
}
.testimonials-section {
    padding: 100px 0;
}
.cta-section {
    padding: 100px 0;
}
.footer {
    padding: 20px 0;
}
#navbarNav .nav-item .nav-link {
    color: black;

}
#navbarNav .nav-item .nav-link:hover {
    color: #007bff;
}
.btn-outline-light {
    color: white;
    border-color: white;
}
.btn-outline-light:hover {
    background-color: white;
    color: #007bff;
}
.btn-outline-light:focus {
    box-shadow: none;
}
.btn-outline-light:active {
    background-color: white;
    color: #007bff;
}
.btn-outline-light:active:focus {
    box-shadow: none;
}
.logo {
    width: 170px;
    height: 100px;
    margin-left: 10px;

}
.hero-section .btn {
    margin-top: 20px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 2.5rem;
}
.features-section .card {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}
.features-section .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.fa-3x {
    color: #007bff;
}
.nav-link {
    font-size: 1.3rem;
    font-weight: 400px;
}
#search {

    margin: 0 auto;
}
#search .input-group {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
#search .input-group input {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
#search .input-group button {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
#search .input-group button:hover {
    background-color: #007bff;
    color: white;
}
#search .input-group button:focus {
    box-shadow: none;
}
#search .input-group button:active {
    background-color: #007bff;
    color: white;
}
#serach-button {
    border-radius: 0;
    font-size: 1.5rem;
}

#say{
      font-size: 1.5rem;
      font-weight: 700;
      color: #14213d;
}

 #serach-button{
          font-size: 1.5rem;
          font-weight: 700;
          color: #14213d;
 }
 section {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 20px;
    margin-bottom: 20px;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#scrollToTopBtn {
    
    background-color: #4495ec;
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    font-size: 18px;
  }

 


