<!-- templates/book/booking.html -->
{% extends 'book/base.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
      <h1 class="display-4">Welcome to LogaXP</h1>
      <p class="lead">Book your Appointment</p>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    
      <form method="post" action="{% url 'book:client_booking' client.user.username %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.service.auto_id }}" class="form-label">Service</label>
          <select name="{{ form.service.html_name }}" id="{{ form.service.auto_id }}" class="form-select">
            {% for service in form.service %}
              <option value="{{ service.data.value }}" {% if service.data.selected %}selected{% endif %}>
                {{ service.choice_label }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="{{ form.date.auto_id }}" class="form-label">Date</label>
          <input type="date" id="dateInput" name="{{ form.date.html_name }}" id="{{ form.date.auto_id }}" class="form-control" value="{{ form.date.value|default:'' }}" required>
        </div>
        <!-- Replace the current time field with the time slots dropdown and a hidden input field -->
        <div class="mb-3">
          <label for="timeSlots" class="form-label">Time:</label>
          <select id="timeSlots" class="form-control"></select>
          <input type="hidden" id="selected_time_slot" name="time_slot">
        </div>
        <div class="mb-3">
          <label for="{{ form.name.auto_id }}" class="form-label">Name</label>
          <input type="text" name="{{ form.name.html_name }}" id="{{ form.name.auto_id }}" class="form-control" value="{{ form.name.value|default:'' }}" required>
        </div>
        <div class="mb-3">
          <label for="{{ form.email.auto_id }}" class="form-label">Email</label>
          <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.auto_id }}" class="form-control" value="{{ form.email.value|default:'' }}" required>
        </div>
        <div class="mb-3">
          <label for="{{ form.phone_number.auto_id }}" class="form-label">Phone Number</label>
          <input type="tel" name="{{ form.phone_number.html_name }}" id="{{ form.phone_number.auto_id }}" class="form-control" value="{{ form.phone_number.value|default:'' }}" required>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Book</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function getDate() {
    const day = document.getElementById('id_date_day').value;
    const month = document.getElementById('id_date_month').value;
    const year = document.getElementById('id_date_year').value;
    return `${year}-${month}-${day}`;
  }

  function fetchAvailableSlots(date, serviceId) {
    // Fetch available time slots from the API
    fetch(`/api/available-slots/?date=${date}&service_id=${serviceId}`)
      .then(response => response.json())
      .then(data => {
        // Clear the time slots dropdown
        const timeSlotsDropdown = document.getElementById('timeSlots');
        timeSlotsDropdown.innerHTML = '';

        // Get the current date and time
        const now = new Date();

        // Add the fetched time slots to the dropdown
        data.available_slots.forEach(slot => {
          // Check if the slot is in the future
          const slotDateTime = new Date(date + 'T' + slot.time);
          if (slotDateTime > now) {
            const option = document.createElement('option');
            option.value = slot.id;
            option.text = slot.time;
            timeSlotsDropdown.add(option);
          }
        });
      });
  }

  function onFormElementChange() {
    const date = getDate();
    const serviceId = document.getElementById('id_service').value;
    if (date && serviceId) {
      fetchAvailableSlots(date, serviceId);
    }
  }

  // Add event listeners to the date and service elements to trigger the onFormElementChange function
  document.getElementById('id_date_day').addEventListener('change', onFormElementChange);
  document.getElementById('id_date_month').addEventListener('change', onFormElementChange);
  document.getElementById('id_date_year').addEventListener('change', onFormElementChange);
  document.getElementById('id_service').addEventListener('change', onFormElementChange);

  // Add this event listener to the timeSlots dropdown
  document.getElementById('timeSlots').addEventListener('change', event => {
    const selectedSlotId = event.target.value;
    document.getElementById('selected_time_slot').value = selectedSlotId;
  });

  // Set min date attribute for the date input fields
  document.addEventListener('DOMContentLoaded', () => {
    const dateDayInput = document.getElementById('id_date_day');
    const dateMonthInput = document.getElementById('id_date_month');
    const dateYearInput = document.getElementById('id_date_year');
    const today = new Date();
    const minMonth = (today.getMonth() + 1).toString().padStart(2, '0');
    const minDay = today.getDate().toString().padStart(2, '0');

    dateYearInput.setAttribute('min', today.getFullYear());
    dateMonthInput.setAttribute('min', minMonth);
    dateDayInput.setAttribute('min', minDay);
  });
</script>

{% endblock %}
