{% extends "book/base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<style>
    /* Custom CSS styles */
    .bg-gradient {
        background: linear-gradient(45deg, #3f51b5, #9c27b0);
    }

    .form-container {
        max-width: 400px;
        padding: 1.5rem;
        margin: auto;
    }

    .form-signin {
        width: 100%;
    }

    .form-floating:focus-within {
        z-index: 2;
    }
</style>
<div class="jumbotron bg-gradient">
    <div class="container">
        <h1 class="display-4">Password Reset Complete</h1>
        <p class="lead">Your password has been successfully changed. You can now log in with your new password.</p>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-custom">
                <div class="card-body card-body-custom text-center">
                    <a href="{% url 'login' %}" class="btn btn-primary btn-custom">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
